
### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
h2
logs

.eclipse

target
*.iml
.idea
